<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sabor Espanol - Authentic Spanish Food from Spain</title>
    <meta name="google-site-verification" content="mIfhml8f6eRP3NZwx6SeOhtcQXe6PeQUM_t-iT60Ci0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index" />
    <meta name="keywords" content="alimentos espaanoles, alimentos tipicos espanoles, comprar alimentos espanoles, tienda de productos espanoles, alimentos, espanoles, alimentos tipicos, tipicos espanoles, comprar alimentos, comprar, tienda, tienda de productos, tienda alimentos, tienda comida espanola, gourmet, gastronomia, gastronomia espanola, productos tipicos, productos espanoles, delicatessen, exquisiteces, productos delicatessen, conservas, quesos, jamones, original spain, spain, vinos, venta de vinos de calidad, venta de productos delicatessen, venta de embutidos ibericos, tiendas gourmet, jamon Serrano, serrano, jamon iberico" />
    <meta name="description" content="We bring you one step closer to Spain by delivering the best variety of the Spanish food and products to your home including the exquisite Black Hoof (pata negra) Ham. Una gran variedad de los mejores productos espanoles de maxima calidad llevados a tu hogar a los majores precios del Mercado." />
    <link href="[% c.uri_for('/static/css/style.css') %]" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="wrapper">

  <div id="main">
        <div id="user_menu">
            <a href="[% c.uri_for(
                c.controller('pages').action_for('about_us')) %]">
            About Us
            </a>
            -
            <a href="[% c.uri_for(
                c.controller('pages').action_for('contact_us')) %]">
            Contact Us
            </a>
            -
            <a href="[% c.uri_for(
                c.controller('cart').action_for('view')) %]">
            View Cart
            </a>
            ( <span id="user_menu_aux">[% cart_size %] items </span>)
            -
          [% IF c.user_exists %]
            <a href="[% c.uri_for(
                c.controller('customers').action_for('index')) %]">
            My Account
            </a>
             ( <span id="user_menu_aux">[% c.user.email %]</span> )
            <a href="[% c.uri_for(
                c.controller('customers').action_for('logout')) %]">
            Logout
            </a>
          [% ELSE %]
            <a href="[% c.uri_for(
                c.controller('customers').action_for('login')) %]">
            Login
            </a>
          [% END %]
        </div><!-- end of user_menu -->

    <div id="left_menu">
      <a href="[% c.uri_for('/') %]">
      <img src="[% c.uri_for('/static/images/sabor-espanol-logo.gif') %]" 
        width="133" height="125" border="0" alt="Gourmet spanish - Spanish hams, cheese and more." />
      </a>
      <br />

      <div id="search">
        Search
<form name="search_form" method="post" action="[% c.uri_for(
    c.controller('Store').action_for('search_results')
    ) %]">
        <input type="text" name="search" id="search.input">
</form>
      </div>
        <div id="search_submit">
        <input type="submit" name="Submit" value="Search">
        </div>
<br>
      <div id="left_menu_categories">
        Full Category Lists
<dl>
[% i = 0 %]
[% FOREACH category IN categories %]

  [% i = i + 1 %]
  [% IF i == 1 %]
    <dd class="first" >
  [% ELSIF loop.last %]
    <dd class="last" >
  [% ELSE %]
    <dd>
  [% END %]
      <a href="[% c.uri_for(
        c.controller('Store').action_for('index'), category.url_name
      ) %]">
        [% category.name FILTER upper %]
      </a>
    </dd>
  [% IF category_id == category.id %]
    [% FOREACH subcategory IN subcategories %]
    [% NEXT IF category.id == 0 %]
      [% i = i + 1 %]
        <dd [% IF (i == 1) %] class="first" [% END %] >                                   <a href="[% c.uri_for(
              c.controller('Store').action_for('products'),
              [category_url_name,subcategory.url_name]
          ) %]">
           - [% subcategory.name %]
          </a>
        </dd>
    [% END %]
  [% END %]

[% END %]
          </dl>

      </div><!-- end of left_menu_categories -->
      <br />
      <div id="left_aux">
        <a href="[% c.uri_for('/mailing_list') %]" >
          <img src="[% c.uri_for('/static/images/aux_sign_up.gif') %]" 
            width="119" height="73" border="0" alt="" />
        </a><br />
        <a href="[% c.uri_for('/aux/order_catalog') %]" >
          <img src="[% c.uri_for('/static/images/aux_order_free_catalog.gif')%]"
            width="119" height="64" border="0" alt="" />
        </a><br />
        <a href="[% c.uri_for('/aux/cooking_lessons') %]" >
          <img src="[% c.uri_for('/static/images/aux_you_tube.gif') %]" 
            width="119" height="61" border="0" alt="" />
        </a><br />
      </div>
    </div><!-- end of left_menu -->
    
    <div id="center">
      <div id="top_menu">
        <img src="[% c.uri_for('/static/images/top_menu.gif') %]" width="548" height="96" hspace="0" vspace="0" border="0" usemap="#Map" alt="" />
      </div><!-- end of top_menu -->

[% IF errror || status %]

<div id="error_status">
</div>

[% END %]

      <div id="content">
        [% random_image %]
        [% content %]
      </div><!-- end of content -->

      <div id="footer_support">
        <b>Questions?</b><br />
        Customer Service: <a href='mailto:contact@saborespanol.com'>Send us an 
        Email</a> or submit the contact us form by clicking 
        <a href="[% c.uri_for('/contact_us') %]">here</a>
      </div>

      <div id="center_banners">
        <img src="[% c.uri_for('/static/images/center_banner.jpg') %]" width="514" height="62" alt="" />
      </div> <!-- end of center_banner -->


    </div><!-- end of center -->
    
    <div id="specials">
      <div id="shield">
        <img src="[% c.uri_for('/static/images/escudo-espana.gif') %]" width="119" height="96" hspace="0" vspace="0" border="0" alt="" />
      </div><!-- end of shield -->
      <div id="special_ads">

        <h4>SPECIALS</h4>

        <div class="special_ad_single">
          <a href="[% c.uri_for('/promotions/opening_special') %]" >
            <img src="[% c.uri_for('/static/images/specials_celebrate.gif') %]" 
              width="105" height="226" border="0" alt="" />
          </a><br />
          <img src="[% c.uri_for('/static/images/spacer_line.png') %]" 
            width="100" height="5" alt="" />
        </div>
        <div class="special_ad_single">
          <a href="[% c.uri_for('/promotions/wines') %]" >
            <img src="[% c.uri_for('/static/images/specials_wines.jpg') %]" 
              width="104" height="117" border="0" alt="" />
          </a><br />
          <img src="[% c.uri_for('/static/images/spacer_line.png') %]" 
            width="100" height="5" alt="" />
        </div>
        <div class="special_ad_single">
          <a href="[% c.uri_for('/promotions/share_recipe') %]" >
            <img src="[% c.uri_for('/static/images/specials_share.jpg') %]" 
              width="104" height="115" border="0" alt="" />
          </a><br />
            <img src="[% c.uri_for('/static/images/spacer_line.png') %]" 
              width="100" height="5" alt="" />
        </div>

      </div><!-- end of special_ads -->
    </div><!-- end of specials -->
    
    <div style="clear:both"></div>

  <div id="footer">
    <a href="[% c.uri_for('/about_us') %]" >About Us</a> - 
    <a href="[% c.uri_for('/contact_us') %]" >Contact Us</a> - 
    <a href="[% c.uri_for('/privacy_policy') %]" >Privacy Policy</a> - 
    <a href="[% c.uri_for('/site_map') %]" >Site Map</a>
  </div><!-- end of footer -->
    
  </div> <!-- end of main -->

</div><!-- end of wrapper -->

<map name="Map" id="Map">
    <area shape="rect" coords="18,67,100,90" 
        href="[% c.uri_for('/store/hams') %]" />
    <area shape="rect" coords="100,67,210,90" 
        href="[% c.uri_for('/store/sausages_cheese') %]" />
    <area shape="rect" coords="210,67,334,90"
        href="[% c.uri_for('/store/canned_foods/canned_seafood') %]" />
    <area shape="rect" coords="335,67,416,90"
        href="[% c.uri_for('/store/oil_vinegar') %]" />
    <area shape="rect" coords="416,67,520,90"
        href="[% c.uri_for('/store/olives_pickles') %]" />
</map>

<div align="center" id="power_by">Powered by gbRND</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11777486-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

