First Name: [% c.req.params.first_name %]
Last Name: [% c.req.params.last_name %]
Email: [% c.req.params.email %]
Address 1: [% c.req.params.address1 %]
Address 2: [% c.req.params.address2 %]
City: [% c.req.params.city %]
State: [% c.req.params.state %]
Country: [% c.req.params.country %]
Zip Code: [% c.req.params.zip_code %]
Phone: [% c.req.params.phone %]
Message: 
[% c.req.params.message %]
