In order to reset your password, please click on the following link:

[% c.uri_for(c.controller.action_for('password_reset')) %]?code=[% code  %]

If you are having trouble with this link, please go to:

[% c.uri_for(c.controller.action_for('password_reset')) %]

and enter in the code:

[% code %]

 when prompted.
